<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<title th:replace="fragments/fragment :: head"></title>
    	<link rel="stylesheet" href="/js/jquery.dataTables.min.js"/>
		<link rel="stylesheet" href="/css/jquery.dataTables.min.css"/>
		<link rel="stylesheet" href="/js/dataTables.bootstrap.min.js"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<script>
			$(document).ready(function() {
    			$('#courses').DataTable();
			});
		</script>
    </head>
    <body>
        <h1>All Students</h1>
        <table id="courses" class="table table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Credits</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course, iterationStatus : ${courses}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${course.idCourse}"></td>
                <td th:text="${course.name}"></td>
                <td th:text="${course.credits}"></td>
            </tr>
        </tbody>
   		</table>	
		<hr/>
    </body>
</html>
