<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/'}">Index</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/student/add'}">Form Add Student</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/student/add/submit'}">Add Student</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/student/view/${npm}'}">View Student by NPM</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/student/viewall'}">View All Student</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/student/update/submit'}">Update Student</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/student/update/${npm}'}">Update Student by NPM</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/student/delete/${npm}'}">Delete Student by NPM</title>
	<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/course/view/${id_course}'}">View Course by ID</title>
	
</head>

<body>

	<div th:fragment="header">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/student/viewall">Daftar Mahasiswa</a></li>
			<li><a href="/student/add">Menambah Mahasiswa</a></li>
		</ul>
	</div>
	
	<div th:fragment="footer">
		<hr/>
		<h4>Mata Kuliah APAP</h4>
	</div>
</body>
</html>